.window_box{
    width:300px;
    /* height:400px; */
    position:absolute;
    background:white;
    top:150px;
    right:40px;
    border-radius:5px;
    overflow:hidden;
    box-shadow:2px 2px 10px #bbb;
    z-index:45;
}
.line_title{
    width:100%;
    float:left;
    height:30px;
    line-height:30px;
    background:#0051bc;
    padding:0 10px 0 20px;
    font-size:16px;
    color:white;
}
.line_title div{
    width:20px;
    float:right;
    cursor:pointer;
    text-align:center;
    font-size:20px;
}
.left_line{
    width:100%;
    float:left;
}
.t_5{
    margin-top:5px; 
}
.t_10{
    margin-top:10px; 
}
.t_15{
    margin-top:15px; 
}
.t_20{
    margin-top:20px; 
}
.layer_content{
    width:100%;
    height:320px;
    float:left;
    overflow:auto;
    padding:0 10px;
}
.difference_stick{
    width:6px;
    height:100%;
    position:fixed;
    left:calc((100% - 20px)/2);
    cursor:ew-resize;
    z-index:40;
    display:none;
    top: 60px;
}
/* .difference_stick:hover{
    background:rgba(218,218,218,0.5);
    background:#f8f5f5; 
 }  */
 .difference_stick .top{
    width:6px;
    height:calc(50% - 50px);
    position:absolute;
    border: 1px solid #848484;
    left:0;
    top:0;
    cursor:ew-resize;
    background:#dadada;
    z-index:40;
    border-bottom:none;
}
.difference_stick .center{
    position:absolute;
    display:block;
    width:15px;
    height:24px;
    left:-5px;
    top:calc((100% - 100px)/2);
    border:1px solid #848484;
    background:#dadada;
    border-radius:4px;
    cursor:ew-resize;
    z-index:41;
}
.difference_stick .bottom{
    width:6px;
    height:calc(50% + 28px);
    position:absolute;
    border: 1px solid #848484;
    left:0;
    bottom:0;
    cursor:ew-resize;
    background:#dadada;
    z-index:40;
    border-top:none;
}
.cy_btn {
    width: auto;
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    margin-right: 10px;
    border: 1px solid #e9edee;
    border-radius: 5px;
    background: #f8f9fb;
    color: #838080;
}
.layer_line {
    width: 400px;
    height: 40px;
    border: 1px solid #ebedf3;
    border-top:none;
    margin-left:21.5px;
}
.layer_line span{
    display:block;
    float:left;
    margin-left:10px;
    line-height:30px;
}
.checks {
    width: 23px;
    height: 23px;
    /* float: left; */
    /* margin: 5px 0 0 15px; */
    margin-left: 38.5px;
    margin-top: 8.5px;
    background: url(../image/view/unchecked.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
.checks_s {
    width: 23px;
    height: 23px;
    /* float: left; */
    /* margin: 5px 0 0 15px; */
    margin-left: 38.5px;
    margin-top: 8.5px;
    background: url(../image/view/checked.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
}
/* 旧版本 */
.menu_middle_box2{
    width:250px;
    position:absolute;
    background:white;
    border:1px solid #e9edee;
    border-radius:5px;
    padding:10px;
    padding-top:0;
    left:calc((100% - 250px)/2);
    top:250px;
    box-shadow:0 2px 3px #a0a0a0;
}
.menu_middle_box2 .title{
    width:100%;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e9edee;
    font-size:16px;
}
.menu_middle_box2 .cancel{
    width:25px;     
    height:25px;
    float:right;
    background:url(../image/common/cancel.jpg);
    background-repeat:no-repeat;
    background-size:50% 50%;
    background-position:center;
    cursor:pointer;
    margin:2px 0 0 0;
}
.line_content{
    width:100%;
    float:left;
    margin-top:5px;
}
.alert_line{
    width:100%;
    float:left;
    margin-top:7px;
}
    .alert_line .name {
        width: 50px;
        height: 30px;
        line-height: 30px;
        float: left;
        text-align: right;
        margin-left:10px;
    }
    .alert_line .input_box {
        width: calc(100% - 20px);
        min-height: 30px;
        line-height: 30px;
        float: left;
        border-radius: 4px;
        border: 1px solid #e8eced;
        margin-left: 10px;
        box-shadow: none;
        padding: 0;
        outline: none;
        padding: 0 2px;
        height:auto;
    }
.alert_line .textarea_box{
    width:calc(100% - 100px);
    height:80px;
    float:left;
    border-radius:4px;
    border:1px solid #e8eced;
    margin-left:5px;
    box-shadow: none;
    padding:0;
    outline:none;
    padding:0 2px;
}
.save_btn{
    width:auto;
    height:30px;
    line-height:30px;
    background:#0250bc;
    padding:0 15px;
    border-radius:4px;
    float:right;
    margin:10px 10px 0 0;
    color:white;
    cursor:pointer;
}
.cancel_btn{
    width:auto;
    height:30px;
    line-height:30px;
    background:#a0a0a0;
    padding:0 15px;
    border-radius:4px;
    float:right;
    margin:10px 10px 0 0;
    color:white;
    cursor:pointer;
}
.window_content{
    width:100%;
    height:calc(100% - 50px);
    float:left;
    overflow:auto;
    padding:0 10px;
}
.mark_table_box{
    width:96%;
    /* height:calc(100% - 55px); */
    margin-left:2%;
    margin-top:5px;
    float:left;
    border:1px solid #cdced3;
    /* overflow: hidden; */
    border-bottom:none;
}
.mark_content{
    width:100%;
    height:calc(100% - 20px);
    float:left;
    overflow:auto;
}
.click_line{
    width:100%;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #cdced3;
    color: #666666;
    /* padding:0 10px; */
}
/* .click_line:hover{
    background:rgba(134,195,246,0.4);
} */
.M_select{
    background:rgba(66,142,246,0.7);
}
.click_line .m_name{
    width:120px;
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align:center;
    border-right:1px solid #cdced3;
}
.click_line .m_type{
    width:60px;
    float:left;
    text-align:center;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align:center;
    border-right:1px solid #cdced3;
}
.click_line .m_bz{
    width:310px;
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align:center;
    border-right:1px solid #cdced3;
}
.click_line .m_cz{
    width:calc(100% - 493px);
    float:left;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    text-align:center;
}
.click_line .m_cz div{
    color:#0051bc;
    text-decoration:underline;
    cursor:pointer;
    float:left;
    margin:0 4px;
}
.mark_title{
    width:100%;
    height:30px;
    float:left;
    border-bottom:1px solid #cdced3;
}
.mark_title .t1{
    width:120px;
    height:30px;
    line-height:30px;
    text-align:center;
    border-right:1px solid #cdced3;
    font-weight: bold;
    float:left;
}
.mark_title .t2{
    width:60px;
    height:30px;
    line-height:30px;
    text-align:center;
    border-right:1px solid #cdced3;
    font-weight: bold;
    float:left;
}
.mark_title .t3{
    width:310px;
    height:30px;
    line-height:30px;
    text-align:center;
    font-weight: bold;
    float:left;
    border-right:1px solid #cdced3;
}
.mark_title .t4{
    width:calc(100% - 493px);
    height:30px;
    line-height:30px;
    text-align:center;
    font-weight: bold;
    float:left;
}
.search_content{
    width:auto;
    height:30px;
    border:1px solid #c8c0c0;
    float:right;
    margin-right:2%;
    margin-top:10px;
    overflow:auto;
    border-radius:10px;    
}

.search_content .input_ys{
    width:200px;
    padding:0 10px;
    height:28px;
    line-height:28px;
    border:none;
    outline:none;
    box-shadow:none;
    float:left;
    margin:0;
}
.search_content .search_btn{
    width:32px;
    height:28px;
    line-height:28px;
    background:url(../image/menu_icon/p_c.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    float:left;
    margin:0 5px;
    cursor:pointer;
}
.page_div{
    width:400px;
    float:right;
    margin-bottom:10px;
}
.menu_second{
    width:280px;
    position:absolute;
    background:white;
    border-radius:5px;
    padding:10px;
    padding-top:0;
    right:20px;
    top:120px;
    box-shadow:0 1px 2px #a0a0a0;
}
.menu_second .title{
    width:100%;
    height:30px;
    line-height:30px;
    border-bottom:1px solid #e9edee;
    font-size:16px;
}
.menu_second .cancel{
    width:25px;     
    height:25px;
    float:right;
    background:url(../image/common/cancel.jpg);
    background-repeat:no-repeat;
    background-size:50% 50%;
    background-position:center;
    cursor:pointer;
    margin:2px 0 0 0;
}
.up_file_btn {
    width: 80px;
    height: 30px;
    line-height: 30px;
    float: right;
    color: white;
    background: #1c74bb;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    margin-right: 10px;
}
.input_file{
    width:100%;
    height:100%;
    opacity:0;
    position:absolute;
    top:0;
    left:0;
}
.select_box {
    width: 423px;
    height: 30px;
    border: 1px solid #e9edee;
    border-radius: 3px;
    position: relative;
    margin-left: 10px;
    margin-top:10px;
}

    .select_box .s_name {
        width: calc(100% - 40px);
        height: 100%;
        line-height: 30px;
        float: left;
        padding: 0 5px;
        text-align: left;
        overflow: hidden;
    }

    .select_box .button{
        width: 30px;
        height: 100%;
        background-image: url(../image/graph/more.png);
        background-position: center;
        background-repeat: no-repeat;
        float: right;
        cursor: pointer;
        position: relative;
    }

    .select_box .content_box {
        width: 100%;
        max-height: 200px;
        position: absolute;
        top: 30px;
        left: 0;
        border: 1px solid #e9edee;
        border-top: none;
        z-index: 30;
        background: white;
        display: none;
        border-radius: 3px;
    }
.select_box .content_box:last-child{
    border-bottom:none;
}
        .select_box .content_box .item {
            width: 100%;
            height: 28px;
            line-height: 28px;
            text-align: center;
            border-bottom: 1px solid #e9edee;
            cursor:pointer;
        }
.text_file_name {
    width: 273px;
    height: 30px;
    line-height: 30px;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* padding: 0 20px; */
    border: 1px solid #e9edee;
    border-radius: 5px;
    margin-left: 10px;
}
.sc_box {
    width: 100px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}
.sc_box .color_b{
    width:20px;
    height:20px;
    float:left;
    border-radius:2px;
}
.sc_box .scname{
    height:20px;
    line-height:20px;
    float:left;
    padding:0 5px;
}
.check_box {
    width: 100px;
    float: left;
    
}

.check_box .check{
    width:15px;
    height:15px;
    padding:0;
    margin:3px 0 0 0;
    box-shadow: none;
    float:left;
}
.check_box .check_name{
    width:calc(100% - 25px);
    height:20px;
    line-height:20px;
    float:left;
    margin-left:5px;
}
@keyframes shake-slow{ 
    2%  {  transform: translate(0px, 5px) rotate(1deg);    }  
    25% {  transform: translate(0px, 0px) rotate(-1deg);   }   
    50% {  transform: translate(0px, -5px) rotate(1deg);   }  
    52%  {  transform: translate(0px, 5px) rotate(1deg);    }  
    75% {  transform: translate(0px, 0px) rotate(-1deg);   }   
    98% {  transform: translate(0px, -5px) rotate(1deg);   }  
    0%,100% {  transform: translate(0, 0) rotate(0);    }
    }
/* style1 */
@keyframes shake-slow2{ 
    2%{  transform: translate(6px, -2px) rotate(3.5deg);   }  
    4% {   transform: translate(5px, 8px) rotate(-0.5deg); }  
    6% {  transform: translate(6px, -3px) rotate(-2.5deg);   }  
    8% {  transform: translate(4px, -2px) rotate(1.5deg);  }   
    10%{  transform: translate(-6px, 8px) rotate(-1.5deg);  }   
    12% {  transform: translate(-5px, 5px) rotate(1.5deg);   } 
    14% {  transform: translate(4px, 10px) rotate(3.5deg); } 
    16% {  transform: translate(0px, 4px) rotate(1.5deg); }   
    18% {  transform: translate(-1px, -6px) rotate(-0.5deg);  }   
    20% {  transform: translate(6px, -9px) rotate(2.5deg);  }  
    22% {  transform: translate(1px, -5px) rotate(-1.5deg);  }   
    24% {  transform: translate(-9px, 6px) rotate(-0.5deg); }   
    26% {  transform: translate(8px, -2px) rotate(-1.5deg);  }   
    28% {  transform: translate(2px, -3px) rotate(-2.5deg);   }   
    30%{  transform: translate(9px, -7px) rotate(-0.5deg);   }   
    32% {  transform: translate(8px, -6px) rotate(-2.5deg);   }   
    34% {  transform: translate(-5px, 1px) rotate(3.5deg);   }   
    36% {  transform: translate(0px, -5px) rotate(2.5deg);   }   
    38% {  transform: translate(2px, 7px) rotate(-1.5deg);   }   
    40% {  transform: translate(6px, 3px) rotate(-1.5deg);   }   
    42% {  transform: translate(1px, -5px) rotate(-1.5deg);   }   
    44% {  transform: translate(10px, -4px) rotate(-0.5deg);   }  
    46% {  transform: translate(-2px, 2px) rotate(3.5deg);   }   
    48% {  transform: translate(3px, 4px) rotate(-0.5deg);   }   
    50% {  transform: translate(8px, 1px) rotate(-1.5deg);   }   
    52% {  transform: translate(7px, 4px) rotate(-1.5deg);   }   
    54% {  transform: translate(10px, 8px) rotate(-1.5deg);   }   
    56% {  transform: translate(-3px, 0px) rotate(-0.5deg);   }   
    58% {  transform: translate(0px, -1px) rotate(1.5deg);   }   
    60% {  transform: translate(6px, 9px) rotate(-1.5deg);   }  
    62% {  transform: translate(-9px, 8px) rotate(0.5deg);   }  
    64% {  transform: translate(-6px, 10px) rotate(0.5deg);   }  
    66% {  transform: translate(7px, 0px) rotate(0.5deg);   }   
    68% {  transform: translate(3px, 8px) rotate(-0.5deg);   }  
    70% {  transform: translate(-2px, -9px) rotate(1.5deg);   }  
    72% {  transform: translate(-6px, 2px) rotate(1.5deg);   }   
    74% {  transform: translate(-2px, 10px) rotate(-1.5deg);   }  
    76% {  transform: translate(2px, 8px) rotate(2.5deg);   }  
    78% {  transform: translate(6px, -2px) rotate(-0.5deg);   }   
    80% {  transform: translate(6px, 8px) rotate(0.5deg);   }  
    82% {  transform: translate(10px, 9px) rotate(3.5deg);   }   
    84% {  transform: translate(-3px, -1px) rotate(3.5deg);   }   
    86% {  transform: translate(1px, 8px) rotate(-2.5deg);   }   
    88% {  transform: translate(-5px, -9px) rotate(2.5deg);   }  
    90% {  transform: translate(2px, 8px) rotate(0.5deg);   }  
    92% {  transform: translate(0px, -1px) rotate(1.5deg);   }  
    94% {  transform: translate(-8px, -1px) rotate(0.5deg);   }   
    96% {  transform: translate(-3px, 8px) rotate(-1.5deg);   }  
    98% {  transform: translate(4px, 8px) rotate(0.5deg);   }  
    0%,100% {  transform: translate(0, 0) rotate(0);    }
}  
.shake-slow{ 
    animation:shake-slow 0.5s infinite ease-in-out;
}
/* style2 */

@keyframes zoomOutDown 
{  
40%
{  
opacity: 1; 
transform: scale3d(0.475, 0.475, 0.475) translate3d(0, -60px, 0); 
animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);  
}  
to 
{ 
opacity: 0; 
transform: scale3d(0.1, 0.1, 0.1) translate3d(0, 2000px, 0); 
animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);   
} 
}
.animate_zoomOutDown
{ 
animation:2s linear 0s infinite alternate zoomOutDown; 
font-family: Arial;  
font-size: 18px;  
font-weight: bold;  
color: white;  
margin-top: 70px; 
text-align: center;  
margin-top: 15px; 
}
