<div style="width: 100%; height: 100%;">
    <div class="layerList" data-dojo-attach-point="layerList" style="width: 25%;height: 100%;overflow: auto;"></div>


    <div class="content" data-dojo-attach-point="content" style="width: 75%;float: left;border-left: 1px solid #ccc;height: 100%;overflow: auto;">
      <table class="table table-bordered">
        <thead>
          <tr style="background: #286099; color: white;">
            <th style="width: 50%;">属性名</th>
            <th>属性值</th>
          </tr>
        </thead>
        <tbody data-dojo-attach-point="content_table" style="word-break: break-all;">
        </tbody>
      </table>
    </div>

</div>